*
  box-sizing: border-box

.wrapper
  background: #2b2b3a
  height: 100%
  width: 100%
  padding: 50px

textarea
  font-size: 20px

mat-form-field
  color: #fff

.example-form
  min-width: 150px
  max-width: 500px
  width: 100%

.full__width
  width: 100%

.password__input
  width: 30%
  margin-right: 35px

.btn
  margin: 0 25px
