<div class="wrapper">
  <form class="example-form">
    <mat-form-field class="full__width" appearance="outline">
      <mat-label>Decoded message</mat-label>
      <textarea
        name="decode"
        #encode
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="password__input" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        name="password"
        #password
        type="password"
        matInput
      />
    </mat-form-field>
    <button
      class="btn"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="encodeMsg()"
      [disabled]="!password.value"
    >
      <span class="material-icons">get_app</span></button>
    <button
      class="btn"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="decodeMsg()"
      [disabled]="!password.value"
    >
      <span class="material-icons">upload</span>
    </button>
    <mat-form-field class="full__width" appearance="outline">
      <mat-label>Encoded message</mat-label>
      <textarea
        name="encode"
        #decode
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
      ></textarea>
    </mat-form-field>
  </form>
</div>

